.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  width: 100%;
  margin-left: 15%;
}

img {
  width: 200px;
}

h1 {
  font-size: 20pt;
  line-height: 0.5;
  color: #ffff;
  margin: 0;
}

.button2 {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 30PX;
  font-weight: 500;
  color: #7102e0;
  font-family: Montserrat-Bold;
  background-color: #f3cf46;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 300px;
  margin-top: 3%;
}

.containerImages {
  position: relative;
  display: flex;
}

.containerGirlImages {
  margin-top: 26%;
  width: 0;
}

.containerImagesOne {
  width: 95%;
  margin-top: 26%;
  margin-left: -141px;
}
