.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  width: 100%;
}

img {
  width: 200px;
}

h1 {
  font-size: 20pt;
  line-height: 0.5;
  color: #ffff;
}

.button2 {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 15pt;
  font-weight: 500;
  color: #7102e0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f3cf46;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 280px;
  margin-top: 3%;
}
