.textTitleComponent {
  font-size: 25px;
  color: #f3cf46;
  font-family: Montserrat-Bold;
  margin-top: 40px;
}

.textSubtitleComponent {
  font-size: 20px;
  color: #ffffff;
  font-family: Montserrat-Light;
  margin-top: 15px;
  margin-bottom: 15px;
}
.containerTextComponent {
  display: flex;
  flex-direction: column;
}
.containerLevels {
  display: flex;
  justify-content: center;
  width: 143%;
}

.textItem {
  font-size: 14px;
  color: #f3cf46;
  font-family: Montserrat-Light;
  letter-spacing: 1px;
}
.containerIdiomaText {
  display: flex;
  width: 100%;
  align-items: center;
}
.idiomaText {
  color: white;
  font-family: Montserrat-Light;
  font-size: 20px;
}

.containerExpContinue {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}


.ant-card-bordered {
  border: 1px solid rgba(255, 255, 255, 0.4) !important ;
  border-radius: 25px;
}
.ant-card {
  background: none !important;
}

.ContainerDisabled {
  width: 169px;
  height: 59px;
  font-size: 18px;
  font-family: Montserrat-Bold;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background:#310161;
  border: 1px solid #f7c947;

}
.textDisabled{
  color:#AE7F51;
  margin: 0;
}

