.spanFormationAcademy {
  font-family: Avenir, Heavy;
  font-size: 25px;
  color: #f3cf46;
}
.spanStudy {
  font-family: Avenir, Heavy;
  color: #f3cf46;
}
.containerStudies {
  display: flex;
  flex-direction: column;
  width: 211px;
}

.selectColor {
  background: #4f2678;
  color: white;
}
.ant-select-selector {
  background: #310161 !important;
  color: white !important;
}
:where(.css-dev-only-do-not-override-15rg2km).ant-input-affix-wrapper
  > input.ant-input {
  background: #4f2678;
  color: white;
}
:where(.css-dev-only-do-not-override-15rg2km).ant-input-affix-wrapper
  .ant-input-show-count-suffix {
  color: white;
  opacity: 0.6;
}

.ant-checkbox-inner {
  background: transparent !important;
  border: 1px solid #f7c947 !important;
}
.labelsInsputs {
  color: #ffffff;
  opacity: 0.6;
  font-family: Avenir, Heavy;
}
.inputBorderNone {
  background: #4f2678;
  color: white;
  border: none;
  height: 57px;
}
.containerButtonContinue {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 100px;
}
.containerDate {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
}
.imgCaneca {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hoverAgregar {
  margin-right: 87px;
  background: transparent !important;
  border-radius: 20px !important;
  border: none !important;
  width: 217px;
}

.hoverAgregar:hover {
  background: #5801ad !important;
}

.SaveInfo {
  background: transparent !important;
  border: 1px solid #f7c947 !important;
  border-radius: 20px !important;
  color: #f7c947 !important;
  width: 100px;
}

.containerSaveAction {
  display: flex;
  margin-top: 4%;
  justify-content: center;
}
