.containerVideo {
    width: 768px;
    border-radius: 15px 
}
.contentTextSpan {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContent {
    color:#F3CF46;
    font-size:35px;
    font-family: Montserrat-Bold;
    line-height:35px
  
}