.containerTitle_TabOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 6%;
}
.button_tabOne {
  background: #704f91;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  width: 125%;
  margin-bottom: 14%;
}

.containerTabs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gripPositionTab {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
}

.titleTabOne {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 8%;
}
.img_disruptiaTab_one {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 3%;
}

.perfilName {
  font-size: 20px;
  margin: 0%;
  padding: 10px;
  color: white;
  font-family: "Montserrat-Bold";
}

.containerSelect {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.buttonContinueSelect {
  border-radius: 50px;
  border: 1px solid #f3cf46;
  background: #310161;
  width: 227px;
  height: 49px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonContinueSelect:hover {
  background: #f3cf46;
  cursor: pointer;
  color: #310161;
}
.textSiguienteSelect {
  color: yellow;
  font-size: 25px;
  margin: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: "Montserrat-Bold";
}
.textSiguienteSelect:hover {
  color: #310161;
  font-size: 25px;
  font-family: "Montserrat-Bold";
}

.ant-tabs-nav {
  width: 70%;
}

.ant-tabs {
  align-items: center;
}
:where(.css-dev-only-do-not-override-15rg2km).ant-tabs
  .ant-tabs-tab
  + .ant-tabs-tab {
  margin: 0 0 0 10px !important;
}
.ant-tabs-tab-active {
  width: 53px !important;
}

.ant-tabs-ink-bar {
  background-color: #f7c947 !important;
  display: none !important;
}
