.sidebar-total {
  display: flex;
  flex-direction: column;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, #310161, #4f0094, #5802ad, #7102e0);
  width: 10%;
  transition: width 0.3s ease;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
}

.sidebar-open {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, #310161, #4f0094, #5802ad, #7102e0);
  transition: width 0.3s ease;
  /* align-items:flex-start; */
  justify-content: top;
  height: 100%;
  padding: 30px;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 38%;
  z-index: 9;
}

.buttonside {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 15pt;
  font-weight: 500;
  color: #7102e0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f3cf46;
  cursor: pointer;
  transition: border-color 0.25s;
  text-align: center;
}

.sidebar-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

h3 {
  font-size: 10pt;
  line-height: 0.5;
  color: #f3cf46;
}

.buttonclose {
  background: none;
  border: none;
  padding: 20px;
  color: #f3cf46;
  cursor: pointer;
  font-size: 40px;
  width: 16%;
}

.titulo {
  font-size: 40px;
  color: #f3cf46;
  font-family: Montserrat-Bold;
  font-weight: bold;
}

.titulo2 {
  font-size: 40px;
  font-family: Montserrat-Bold;
  color: #7102e0;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-left: 12%;
  width: 100%;
}

.con-fondo {
  background-color: #f3cf46;
  align-items: center;
  margin-top: 50px;
  padding: 17px 17px 27px;
  display: flex;
  margin-left: -24%;
  width: 135%;
}

.titulo3 {
  font-size: 30pt;
  color: #ffffff;
  font-family: Avenir, Heavy;
  line-height: 1;
  margin-top: 5%;
}

.titulo4 {
  font-size: 15pt;
  color: #ffffff;
  font-family:  Avenir-Medium;
  line-height: 1;
  margin-top: 50px;
}

.subtitle_sidebar {
  color: #f3cf46;
  font-size: 20px;
  font-family: Avenir, Heavy;
}

.container_title2_sidebar {
  margin-left: 5%;
}

.container-subt-sidebar {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin-left: 56px;
}

.videoContainer {
  margin-top:12rem;
}
