.containerComponent {
  width: 79rem;
  height: 320px;
  border: 1px solid white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.containerSkillsDevelop {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  cursor: pointer;
  width: 187px;
  height: 40px;
  border: 1px solid white;
  align-items: center;
}

.titleSpan {
  color: white;
  font-size: 20px;
  font-family: Montserrat-Light;
  display: flex;
  justify-content: start;
  margin-top: 50px;
  margin-bottom: 10px;
}

.containerGridPosition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerAgregate {
  border: 1px solid rgb(112, 112, 112);
  width: 250px;
  height: 39px;
  border-radius: 25px;
  background: rgb(114, 82, 147);
  margin-top: 25px;
  cursor: pointer;
  color: white !important;
  font-size: 20px;
  font-family: Montserrat-Bold;

}

.iconFlecha {
  scale: 0.5;
  color: #F7C947;
  position: absolute;
  top: 21px;
  left: 252px;
  z-index: 9999;
}
