.containerValidateExperience {
  display: flex;
}

.containerBodyExperience {
  width: 650px;
  margin-top: 93px;
  margin-left: 40px;
}

.containerOptionsExperience {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.iconFaceDown {
  margin-left: 15px;
}

.backOptionsExperience {
  background: #310161 !important;
  border: 1px solid #f7c947 !important;
  color: #f7c947 !important;
  font-size: 30px !important;
  font-family: Montserrat, Bold !important;
  border-radius: 15px !important;
}

.backOptionsExperience:hover {
  background: #f7c947 !important;
  color: #310161 !important;
}
