html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #310161;
  display: flex;
  place-items: center;
  width: 100%;
  justify-content: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;

}

#root {
  width: 100%;
  height: 100%;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #310161;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
} */
/* a:hover {
  color: #535bf2;
} */

/* body { /*Esta sirve para tener todo centrado
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  /* min-height: 100vh; 
  width: 100%;
  height: 100%;
}  */

/* h1 {
  font-size: 30pt;
  line-height: 0.5;
  color: #ffff;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 15pt;
  font-weight: 500;
  color: #7102E0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #F3CF46;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 300px;
}
button:hover {
  border-color: #646cff;
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    /* background: linear-gradient(to top, #310161, #4F0094, #5802AD, #7102E0); */
    
  }
  a:hover {
    /* color: #747bff; */
  }
  /* button {
    background-color: #f1ee2c;
  } */
}
