

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #310161;
  display: flex;
  place-items: center;
  width: 100%;
  justify-content: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;

}

@font-face {
  font-family: 'Montserrat-Bold'; /* Reemplaza 'Nombre de la Fuente' con el nombre que deseas utilizar para la fuente */
  src: url('./fonts/Montserrat-Bold.ttf'); /* Reemplaza 'nombre-de-la-fuente.ttf' con el nombre del archivo de la fuente descargada */
  /* Agrega más formatos si la fuente tiene diferentes archivos para diferentes formatos de navegadores, como .woff, .woff2, etc. */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Medium'; /* Reemplaza 'Nombre de la Fuente' con el nombre que deseas utilizar para la fuente */
  src: url('./fonts/Montserrat-Medium.ttf'); /* Reemplaza 'nombre-de-la-fuente.ttf' con el nombre del archivo de la fuente descargada */
  /* Agrega más formatos si la fuente tiene diferentes archivos para diferentes formatos de navegadores, como .woff, .woff2, etc. */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Black'; /* Reemplaza 'Nombre de la Fuente' con el nombre que deseas utilizar para la fuente */
  src: url('./fonts/Montserrat-Black.ttf'); /* Reemplaza 'nombre-de-la-fuente.ttf' con el nombre del archivo de la fuente descargada */
  /* Agrega más formatos si la fuente tiene diferentes archivos para diferentes formatos de navegadores, como .woff, .woff2, etc. */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular'; /* Reemplaza 'Nombre de la Fuente' con el nombre que deseas utilizar para la fuente */
  src: url('./fonts/Montserrat-Regular.ttf'); /* Reemplaza 'nombre-de-la-fuente.ttf' con el nombre del archivo de la fuente descargada */
  /* Agrega más formatos si la fuente tiene diferentes archivos para diferentes formatos de navegadores, como .woff, .woff2, etc. */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-ExtraLight'; /* Reemplaza 'Nombre de la Fuente' con el nombre que deseas utilizar para la fuente */
  src: url('./fonts/Montserrat-ExtraLight.ttf'); /* Reemplaza 'nombre-de-la-fuente.ttf' con el nombre del archivo de la fuente descargada */
  /* Agrega más formatos si la fuente tiene diferentes archivos para diferentes formatos de navegadores, como .woff, .woff2, etc. */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Light'; /* Reemplaza 'Nombre de la Fuente' con el nombre que deseas utilizar para la fuente */
  src: url('./fonts/Montserrat-Light.ttf'); /* Reemplaza 'nombre-de-la-fuente.ttf' con el nombre del archivo de la fuente descargada */
  /* Agrega más formatos si la fuente tiene diferentes archivos para diferentes formatos de navegadores, como .woff, .woff2, etc. */
  font-weight: normal;
  font-style: normal;
}

#root {
  width: 100%;
  height: 100%;

} 

